body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 28px;
}

p {
  opacity: 0.8;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #ffcc00;
  color: #000;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #ffd633;
  transform: scale(1.03);
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
