*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aquamarine;
    height: 700px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* align-items:stretch; */
    /* align-items: baseline ; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    align-content: space-between;

}

.box{
    height: 100px;
    border: 2px solid;
    margin: 5px;
    width: 150px;
    font-size: 30px;
    font-weight: bold;
}
.box1{
    background-color: red;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: green;
}
.box4{
    background-color: yellow;
}
.box5{
    background-color: pink;
}
.first{
    font-size: 100px;
    margin: 10px;
    

}
.second{
    font-size: 25px;
}